body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    height: 100vh; 
  }
  
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .devlink { 
    margin-bottom: 40px; 
  }

  .container1 {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    margin-top: 20px; 
  }

  h1, h2 {
    color: #333;
  }
  
 
  header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .container {
    width: 350px; 
    height: 350px; 
    flex: 1;
    padding: 10px; 

  }

  .container2 {
    width: 700px; 
    height: 350px; 
    flex: 1; 
    align-items: center;
    justify-content: center; 
    margin: auto; 
  }

  .container3 {
    width: 700px; 
    height: 550px; 
    flex: 1; 
    align-items: center;
    justify-content: center; 
    margin: auto; 
  }


  .comp-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }
  
  .card {
    background-color: #fff;
   height: 100%; 
   width: 100%; 
   transition: transform 1500ms; 
   transform-style: preserve-3d;
  }

  .front, 
  .back { 
    height: 100%; 
   width: 100%; 
   border-radius: 2rem;
   box-shadow: 0 0 5px 2px;
   position: absolute;  
   backface-visibility: hidden;


  }

  

  .front {
    background: pink; 
  }

  .back { 
    background-color: white; 
    transform: rotateY(180deg); 
    margin: auto; 
    padding: 5px; 
  }


  
  .container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg); 
  }

  .container2:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg); 
  }

  .container3:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg); 
  }
  

  
  .additional-info.show {
    display: block !important; 
  }
  .additional-info {
    display: none;
  }
  
  .card h2 {
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .card p {
    line-height: 1.8;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .cardimage {
    width: 50px; 
    height: 50px; 
  }

  .card-content2 {
    width: 50px; 
    height: 100px; 
  }

  .sketch {
    max-width: auto;
    height: auto;
    display: block;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  

  ul {
    padding: 0;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

  @media (min-width: 768px) {
    .card2 {
      text-align: center;
    }
  }